@import "header.css";
@import "blog-card.css";
@import "post.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 340px;
  gap: 30px;
  padding: 2.5rem;
  justify-items: center;
  background-color: rgb(255, 255, 250);
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 250, 250);
  padding: .9rem 1.5rem;
  border-top: 1px solid rgba(94, 94, 94, 0.24);
  border-bottom: 1px solid rgba(94, 94, 94, 0.24);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index:99999;
}

@media(max-width: 600px) {
    /* top header */
    .top-header {
        width: 100%;
        height: auto;
      }

    .top-header-nav {
        display: flex;
        flex-direction: column;
      }
      /* main header */
    .main-header {
        width: 100%;
        height: auto;
        position: static;
        text-align: center;
        font-size: 1.5rem;
      }
      
      .main-header-nav {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .main-header-ul {
        display: flex;
        flex-direction: column;

      }
}